.idea/
.vscode/
.tmp/
.DS_Store
._*
*.swp*
.cache/

*.log*
*.pid
*.wsgi
sftp-config.json
run/*
celeryconfig.py
*-*-config-*.json
portauthority/config.py.*
celerybeat-schedule

env
.env
*.py[oc]
*.egg-info
build
dist/*

.python-version
dependency-graph.json
.coverage
pylint.txt
coverage.xml
test_report.xml
htmlcov

**/build.properties
sf/file
sf/.vim-force.com
sf/src/connectedApps/*
sf/src/objects/Account.object
sf/src/objects/Case.object
sf/src/objects/Course__c.object
sf/src/package.xml
sf/src/pages/PortAuthorityAdministration.page
sf/src/permissionsets/API_Port_Authority.permissionset
sf/src/permissionsets/Port_Authority_Super_User.permissionset
sf/src/workflows/Enrollment__c.workflow
sf/config/*
sf/sf.sublime-project
sf/sf.sublime-workspace
force.json
